form {
    padding: 10px 30%;
    color: #495E57;
    margin-bottom: 50px;
}

.booking-form .top-form,  .booking-form .bot-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booking-form div {
    width: 100%;
}

.booking-form .top-form div {
    width: 30%;
}

.booking-form .bot-form div {
    width: 50%;
}

.booking-form button[type="submit"] {
    width: 100%;
}

input,
label, select {
    display: flex;
    font-size: 24px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#book-date,
#book-time,
#book-guests,
#book-firstname,
#book-lastname,
#book-phone,
#book-email,
#book-wish {
    background: #EDEFEE;
    padding: 8px 24px;
    border: 1.5px solid #495E57;
    border-radius: 8px;
}

#book-guests {
    width: 50px;
    text-align: center;
}

#book-wish {
    width: 100%;
    height: 200px;
    align-items: start;
    font-size: 24px;
    margin-bottom: 20px;
}

