.menu-container {
    margin: 110px auto;
    padding: 10px 16%;
}

.menu-container h2 {
    color: #333333;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 1rem;
}

.menu-items {
    height: 600px;
    width: 350px;
    background: #495E57;
    color: #EDEFEE;
    border-radius: 16px;
}

.menu-container img {
    width: 100%;
    height: 233px;
    border-radius: 16px;
}

.menu-content {
    padding: 30px;
}


.menu-content .heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.price {
    color: #FBDABB;
}

.menu-content .description {

    height: 200px;
    overflow-y: auto;
}

.orderbtn {
    padding: 5px 12px;
    margin-top: 16px;
    font-size: 20px;
    font-weight: 600;
}

@media (max-width: 900px) {
    .menu-container {
        margin: 20px 0;
        padding: 10px 8%;
    }

    .menu-items {
        width: 100%;
    }
}