.header {
    background-color: #495e57;
    padding: 30px 0;
}

.header section {
    color: #EDEFEE;
    padding: 10px 16%;
    position: relative;
}

.banner h2 {
    color: #F4CE14;
}

.banner p {
    max-width: 450px;
    margin-bottom: 30px;
    margin-right: 420px;
}

.banner-img {
    position: absolute;
    right: 16%;
    top: 6.5%;
    width: 400px;
}

.banner-img img {
    width: 100%;
    height: 400px;
    border-radius: 20px;
}

@media (max-width: 900px) {
    .header section {
        padding: 10px 8%;
    }

    .banner p {
        margin-right: 0;
    }

    .banner-img {
        display: none;
    }
}