nav {
    z-index: 10001;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.navbar {
    padding: 10px 16%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 1em;
}

nav ul li .link {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
}

nav ul li .link:hover {
    text-decoration: underline solid #333333;

}

.menu-icon {
    display: none;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links.visible {
    flex-direction: column;
    position: absolute;
    top: 10%;
    right: 0;
    width: 100%;
    background-color: #495E57;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 900px) {
    .menu-icon {
        display: block;
        align-items: center;
        padding-top: 10px;
        background-color: white;
        border: none;
    }

    .nav-links {
        display: none;
    }

    .nav-links.visible {
        display: flex;
        background: #333333;
        z-index: 1000;
        padding: 20px 0;
    }

    .navbar {
        background: #fff;
        padding: 10px 8%;
    }

    nav ul li .link {
        color: #fff;
    }
}