@import url('./components/home/hero/hero.css');
@import url('./components/home/highlights/highlights.css');
@import url('./components/navbar/navbar.css');
@import url('./components/widgets/button.css');
@import url('./components/home/testimonials/testimonials.css');
@import url('./components/footer/footer.css');

@font-face {
  font-family: 'Markazi Text';
  src: local('Markazi Text'), url('../public/fonts/MarkaziText-Regular.ttf') format('truetype');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #495E57;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  font-family: 'Markazi Text', serif;
  margin: 0;
}

body {
  width: 100%;
}

h1 {
  font-size: 68px;
  font-weight: 500;
}

h2 {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 12px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

h4 {
  font-size: 24px;
  font-weight: 800;
}

h5 {
  font-size: 30px;
  font-weight: 800;
}

h6 {
  font-size: 22px;
  font-weight: 700;
}

p {
  font-size: 24px;
  font-weight: 400;
}

strong {
  font-size: 20px;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}